.lp-head {
    height: 80px;
    width: calc(100% - 120px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    z-index: 100;
}

.lp-head .lp-head--logo-area {
    height: 100%;
}

.lp-head .lp-head--logo-area img {
    height: 95%;
}

.lp-head .lp-head--labels {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lp-head a {
    text-decoration: none;
    color: #fff;
}

.lp-head .lp-head--labels h2 {
    margin-left: 50px;
    cursor: pointer;
    color: #fff;
}

.lp-head .lp-head--labels h2:hover {
    color: #89588E;
    border-bottom: #89588E solid 2px;
}

.lp-head .lp-head--mob-menu-button{
    max-height: 80%;
    z-index: 999;
}

.lp-head .lp-head--mobile-labels{
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    height: 100vmax;
    left: 0;
    top: 0;
    z-index: 99;
}

.lp-head--mob-menu{
    display: none;
}

.lp-head--mob-menu-button{
    display: none;
}

@media only screen and (max-width: 500px) {
    .lp-head{
        padding: 20px 20px;
        width: calc(100% - 40px);
    }
}

@media only screen and (max-width: 911px) {
    .lp-head--labels{
        display: none !important;
    }

    .lp-head--mob-menu-button{
        display: block !important;
    }
}